@font-face {
    font-family: "NotoSansJP";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/NotoSansJP-Regular.woff2") format("woff2"), url("/fonts/NotoSansJP-Regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "NotoSansJP";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/NotoSansJP-Medium.woff2") format("woff2"), url("/fonts/NotoSansJP-Medium.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "NotoSansJP";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/NotoSansJP-Bold.woff2") format("woff2"), url("/fonts/NotoSansJP-Bold.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "LineSeedJP";
    font-style: normal;
    font-weight: 200;
    src: url("/AtsEX.Docs/fonts/LINESeedJP_OTF_Th.woff2") format("woff2"), url("/AtsEX.Docs/fonts/LINESeedJP_OTF_Th.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "LineSeedJP";
    font-style: normal;
    font-weight: 500;
    src: url("/AtsEX.Docs/fonts/LINESeedJP_OTF_Rg.woff2") format("woff2"), url("/AtsEX.Docs/fonts/LINESeedJP_OTF_Rg.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    src: url("/AtsEX.Docs/fonts/Poppins-Regular.woff2") format("woff2"), url("/AtsEX.Docs/fonts/Poppins-Regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    src: url("/AtsEX.Docs/fonts/Poppins-Medium.woff2") format("woff2"), url("/AtsEX.Docs/fonts/Poppins-Medium.woff") format("woff");
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    --background-color: #fdfefe; /* H=210, S=16, L=254 */
    --background-darker-color: #f7f8f8; /* H=210, S=16, L=248 */
    --background-dark-color: #dee0e1; /* H=210, S=16, L=224 */
    --header-background-color: #fdfefee0;
    --footer-background-color: #eff0f0; /* H=210, S=16, L=240 */
    --separator-dark-color: #abb0b4; /* H=210, S=16, L=176 */
    --separator-color: #cdd0d2; /* H=210, S=16, L=208 */
    --separator-light-color: #e6e8e9; /* H=210, S=16, L=232 */
    --color: #25282a; /* H=210, S=16, L=40 */
    --lighter-color: #4a5055; /* H=210, S=16, L=80 */
    --light-color: #70787f; /* H=210, S=16, L=120 */
    --main-very-light-color: #E7FCF7; /* H=167, S=200, L=242 */
    --main-light-color: #BCF7EA; /* H=167, S=200, L=218 */
    --main-lighter-color: #92F1DD; /* H=167, S=200, L=194 */
    --main-color: #68EDD1; /* H=167, S=200, L=170 */
    --main-darker-color: #3CE7C2; /* H=167, S=200, L=146 */
    --main-dark-color: #1AD9B0; /* H=167, S=200, L=122 */
    --main-very-dark-color: #15AE8D; /* H=167, S=200, L=98 */
    --accent-color: #425061;
    margin: 0;
    width: 100%;
    overflow-y: scroll;
    background-color: var(--background-color);
    color: var(--color);
    font-size: 16px;
    line-height: 1.9;
    font-family: NotoSansJP, sans-serif;
    -webkit-text-size-adjust: 100%;
}

div#content {
    position: relative;
}

    div#content > div.subheader-image {
        position: relative;
        height: 320px;
        margin-bottom: 40px;
        overflow-y: hidden;
    }

        div#content > div.subheader-image > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        div#content > div.subheader-image > span {
            position: absolute;
            bottom: -0.05em;
            right: 0;
            width: auto;
            height: auto;
            font: 500 6em Poppins, sans-serif;
            line-height: 1;
            text-align: right;
            color: black;
            opacity: 0.4;
        }

            div#content > div.subheader-image > span::first-letter {
                font-size: 1.5em;
                color: var(--main-very-dark-color);
            }

            div#content > div.subheader-image > span::before {
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                width: 80%;
                height: 70%;
                background-color: white;
                z-index: -1;
                opacity: 0.65;
            }

            div#content > div.subheader-image > span::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 60%;
                height: 70%;
                background-color: white;
                z-index: -1;
                opacity: 0.75;
            }

        div#content > div.subheader-image.top > img {
            object-position: top;
        }

        div#content > div.subheader-image.bottom > img {
            object-position: bottom;
        }

    div#content > div.title-accent {
        position: absolute;
        top: -32px;
        right: 40px;
        width: auto;
        height: auto;
        font: 400 4em Poppins, sans-serif;
        text-align: right;
        color: #00000020;
    }

        div#content > div.title-accent::first-letter {
            font-size: 1.5em;
            color: var(--main-very-dark-color);
            opacity: 25%;
        }

        div#content > div.title-accent::before {
            content: '';
            position: absolute;
            top: 0;
            right: -40px;
            width: 200px;
            height: 200px;
            clip-path: polygon(0 0, 100% 0, 100% 100%);
            background-color: #00000010;
        }

    div#content > section, div#content > div > section {
        margin: 0 auto;
        padding: 16px;
        width: 1280px;
    }

        div#content > section.title-with-description {
            margin-top: 32px;
            margin-bottom: 0;
        }

            div#content > section.title-with-description > h1 {
                margin: 0;
                padding: 0;
                border: none;
            }

            div#content > section.title-with-description > p {
                margin: 16px 0;
            }

    div#content > div.key-value {
        background: linear-gradient(90deg, var(--main-color) 0%, var(--main-color) 50%, transparent 50%);
    }

        div#content > div.key-value > section {
            display: flex;
            padding: 0;
        }

            div#content > div.key-value > section > div.key {
                display: flex;
                position: relative;
                padding: 16px;
                flex-basis: 40%;
                align-items: end;
                background-color: var(--accent-color);
                color: var(--background-color);
            }

                div#content > div.key-value > section > div.key > div.key-value-index {
                    position: absolute;
                    top: 8px;
                    left: 16px;
                    font: 500 8em LineSeedJP, sans-serif;
                    color: black;
                    line-height: 1;
                    text-align: center;
                    filter: opacity(0.25);
                }

                div#content > div.key-value > section > div.key > h2 {
                    display: block;
                    margin: 0;
                    font-size: 1.375em;
                    text-align: left;
                    background: none;
                }

                    div#content > div.key-value > section > div.key > h2 > strong {
                        font-weight: inherit;
                        font-size: 1.5em;
                    }

            div#content > div.key-value > section > div.value {
                display: block;
                flex-basis: 60%;
                margin: 0 5% 0 0;
                padding: 16px;
                background-color: var(--footer-background-color);
            }

        div#content > div.key-value.key-value-reverse {
            background: linear-gradient(270deg, var(--main-dark-color) 0%, var(--main-dark-color) 50%, transparent 50%);
        }

            div#content > div.key-value.key-value-reverse > section {
                flex-direction: row-reverse;
            }

                div#content > div.key-value.key-value-reverse > section > div.key {
                }

                div#content > div.key-value.key-value-reverse > section > div.value {
                    background-color: var(--main-very-light-color);
                    margin: 0 0 0 5%;
                }

div.white-space {
    height: 32px;
}

h1 {
    margin: 32px 0 64px 0;
    padding: 0 0 24px 0;
    font: 200 3em LineSeedJP, sans-serif;
    line-height: 1.2;
    border-bottom: 1px solid var(--color);
}

h2 {
    position: relative;
    margin: 48px 0 32px 0;
    font: 200 2em LineSeedJP, sans-serif;
    line-height: 1.2;
    text-align: center;
    background: linear-gradient(270deg, var(--background-color) calc(50% - 2.5em), transparent calc(50% - 2.5em), transparent calc(50% + 2.5em), var(--background-color) calc(50% + 2.5em)), linear-gradient(0deg, var(--main-color) 0.4em, transparent 0.4em);
}

h3 {
    margin: 48px 0 24px 0;
    font: 500 1.5em LineSeedJP, sans-serif;
    line-height: 1.2;
}

h4 {
    margin: 32px 0 24px 0;
    font-weight: 700;
    font-size: 1.2em;
    line-height: 1.2;
}

    h3.header-accent::before {
        content: '■';
        display: inline-block;
        color: var(--accent-color);
    }

p {
    margin: 24px 0;
}

pre {
    margin: 0;
}

code {
    margin: 24px 0;
    font-size: 0.9em;
    line-height: 1.25;
}

mark {
    background: linear-gradient(transparent 60%, var(--main-color) 60%);
}

table {
    margin: 10px 0;
}

    table th {
        white-space: nowrap;
    }

    table th,
    table td {
        padding: 0 20px 4px 0;
        text-align: justify;
    }

        table td:last-child {
            padding-right: 0;
        }

    table.with-border {
        border: none;
        border-spacing: 0;
        border-collapse: collapse;
    }

        table.with-border th,
        table.with-border td {
            padding: 4px 8px;
            border: 1px solid var(--separator-color);
            background-color: var(--background-color);
        }

        table.with-border tr:nth-child(2n) td {
            background-color: var(--background-darker-color);
        }

a {
    transition: filter ease 300ms;
    color: inherit;
}

    a:hover {
        filter: opacity(0.75);
    }

    a.button {
        display: inline-block;
        position: relative;
        padding: 12px 40px;
        border-radius: 4px;
        text-decoration: none;
        font-size: 1.25em;
        text-align: center;
        line-height: 1.35;
        transition: filter ease 300ms, background-color ease 300ms, transform ease 300ms;
    }

        a.button small {
            font-size: 0.75em;
        }

        a.button img {
            font-size: 0.75em;
        }

        a.button.disabled {
            pointer-events: none;
            opacity: 25%;
        }

        a.button:hover {
            transform: scale(1.05);
        }

    a.card {
        display: block;
        position: relative;
        margin: 16px 0;
        padding: 32px 16px;
        width: 100%;
        border: 1px solid var(--separator-color);
        text-decoration: none;
        line-height: 1.75;
        transition: background-color ease 300ms;
    }

        a.card:hover {
            filter: none;
            background-color: #00000010;
        }

        a.card::after {
            content: 'More >>';
            display: block;
            position: absolute;
            bottom: 12px;
            right: 16px;
            line-height: 1;
            font: 500 1em LineSeedJP, sans-serif;
            transform-origin: right;
            transition: transform ease 300ms;
        }

        a.card:hover::after {
            transform: scale(1.1);
        }

        a.card.disabled {
            pointer-events: none;
            opacity: 50%;
        }

        a.card > img.card-image {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 240px;
            max-width: 48%;
            height: 100%;
            object-fit: cover;
            object-position: left;
            filter: saturate(0.5) opacity(0.2);
            transition: all ease 300ms;
        }

        a.card:hover > img.card-image {
            width: 250px;
            filter: saturate(0.6) opacity(0.2);
        }

        a.card > div.card-index {
            position: absolute;
            top: 8px;
            right: 0;
            width: 1em;
            font: 500 5em LineSeedJP, sans-serif;
            color: var(--main-color);
            line-height: 1;
            text-align: center;
            filter: saturate(0.5) opacity(0.5);
        }

        a.card h3 {
            margin-top: 0;
        }

        a.card p {
            margin: 0 80px 0 0;
        }

        a.card.recommended::before {
            content: 'おすすめ!';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            padding: 0 8px;
            width: 7.6em;
            height: 3.2em;
            line-height: 1;
            text-align: right;
            font: 500 1.25em LineSeedJP, sans-serif;
            color: var(--background-color);
            background-color: red;
            clip-path: polygon(0 0, 100% 0, 100% 100%);
        }

div.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 12px;
}

    div.card-container > a.card {
        margin: 0;
        width: calc(50% - 6px);
    }

div.note {
    --note-icon-height: 32px;
    --note-icon-text: "";
    --note-icon-text-height: 1.25;
    --note-header-text: "???";
    --note-background-color: #f7f7f7; /* a = 0x10/0xff = 1/16 = 0.0625 */
    --note-color: #808080;
    position: relative;
    margin: calc(16px + var(--note-icon-height) * 0.625) 0 32px calc(var(--note-icon-height) * 0.625);
    padding: 16px 16px 16px 24px;
    width: calc(100% - var(--note-icon-height) * 0.625);
    background-color: var(--note-background-color);
    color: #444;
}

    div.note::before {
        content: var(--note-icon-text);
        display: block;
        position: absolute;
        left: calc(var(--note-icon-height) * -0.625);
        top: calc(var(--note-icon-height) * -0.625);
        height: var(--note-icon-height);
        width: var(--note-icon-height);
        border-radius: 50%;
        background-color: var(--note-color);
        color: white;
        vertical-align: middle;
        text-align: center;
        font-size: calc(var(--note-icon-height) * 0.8);
        line-height: var(--note-icon-text-height);
        font-weight: 700;
    }

    div.note::after {
        content: var(--note-header-text);
        display: block;
        position: absolute;
        left: calc(var(--note-icon-height) * 0.625);
        top: -16px;
        width: auto;
        color: var(--note-color);
        font-size: 16px;
        line-height: 1;
        font-weight: 700;
    }

    div.note.note-info {
        --note-icon-text: "i";
        --note-header-text: "参考";
        --note-background-color: #efeffb;
        --note-color: #0a0ac1; /* H=240, S=90, L=40 */
    }

    div.note.note-warn {
        --note-icon-text: "!";
        --note-icon-text-height: 1.2;
        --note-header-text: "注意";
        --note-background-color: #fdf9ef;
        --note-color: #e89f0c; /* H=40, S=90, L=48 */
    }

    div.note.note-alert {
        --note-icon-text: "×";
        --note-icon-text-height: 1.1;
        --note-header-text: "警告";
        --note-background-color: #fdefef;
        --note-color: #e80c0c; /* H=0, S=90, L=48 */
    }

    div.note > *:first-child {
        margin-top: 0;
    }

    div.note > *:last-child {
        margin-bottom: 0;
    }

    div.note > ul:first-child {
        margin-top: 8px;
    }

    div.note > h2:first-child, div.note > h3:first-child, div.note > h4:first-child {
        margin-top: 4px;
    }

span.wbr {
    display: none;
}

iframe.youtube {
    max-width: 100%;
    width: 560px;
    max-height: 60vw;
    height: 315px;
}

iframe.form {
    display: block;
    margin: 0 auto;
    width: 640px;
    max-width: 100%;
    height: 500px;
}

img, video {
    max-width: 100%;
}

    img.small, video.small {
        max-width: 100%;
        width: 640px;
    }

    img.two-contents, video.two-contents {
        max-width: calc((100% - 16px) / 2);
    }

img.icon-download {
    height: 1em;
}

.atsex::after {
    content: "旧・AtsEX";
    margin: 8px;
    padding: 0px 6px;
    border-radius: 4px;
    outline: solid 1px var(--accent-color);
    outline-offset: -1px;
    color: var(--accent-color);
    vertical-align: middle;
    font-size: 0.6em;
    white-space: nowrap;
}

.bveex::after {
    content: "BveEX";
    margin: 8px;
    padding: 0px 6px;
    border-radius: 4px;
    background-color: var(--accent-color);
    color: var(--background-color);
    vertical-align: middle;
    font-size: 0.6em;
    white-space: nowrap;
}

.light-text {
    color: var(--lighter-color);
}

.with-border {
    border: 1px solid var(--separator-color);
}

.scrollable {
    display: block;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    text-align: center;
}

    .scrollable::-webkit-scrollbar {
        display: none;
    }

    .scrollable .min-w-120 {
        min-width: 120px;
        white-space: initial;
    }

    .scrollable .min-w-160 {
        min-width: 160px;
        white-space: initial;
    }

    .scrollable .min-w-200 {
        min-width: 200px;
        white-space: initial;
    }

    .scrollable .min-w-240 {
        min-width: 300px;
        white-space: initial;
    }

.black {
    background-color: var(--accent-color);
    color: var(--background-color);
}

    .black a {
        color: inherit;
    }

    .black .light-text {
        color: #ffffff80;
    }

.gray, .gray-when-hover:hover {
    background-color: var(--footer-background-color);
}

    .gray h2 {
        background: linear-gradient(270deg, var(--footer-background-color) calc(50% - 2.5em), transparent calc(50% - 2.5em), transparent calc(50% + 2.5em), var(--footer-background-color) calc(50% + 2.5em)), linear-gradient(0deg, var(--main-color) 0.4em, transparent 0.4em);
    }

.white, .white-when-hover:hover {
    background-color: var(--background-color);
}

.dark-green {
    background-color: var(--main-dark-color);
    color: var(--background-color);
    text-shadow: 0 0 4px var(--accent-color);
}

    .dark-green img {
        filter: drop-shadow(0 0 4px var(--accent-color));
    }

.green, .green-when-hover:hover {
    background-color: var(--main-color);
}

.lighter-green, .lighter-green-when-hover:hover {
    background-color: var(--main-lighter-color);
}

.light-green {
    background-color: var(--main-very-light-color);
}

    .light-green h2 {
        background: linear-gradient(270deg, var(--main-very-light-color) calc(50% - 2.5em), transparent calc(50% - 2.5em), transparent calc(50% + 2.5em), var(--main-very-light-color) calc(50% + 2.5em)), linear-gradient(0deg, var(--main-color) 0.4em, transparent 0.4em);
    }

.gray-when-hover, .white-when-hover, .lighter-green-when-hover {
    transition: background-color ease 300ms;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.hidden-counter {
    display: none;
}

@media screen and (max-width: 1279px) {
    div#content > div.subheader-image > span {
        font-size: 4.5em;
    }

    div#content > div.title-accent {
        display: none;
    }

    div#content > section, div#content > div > section {
        width: 100%;
    }
}

@media screen and (max-width: 719px) {
    div#content {
        font-size: 14px;
    }

        div#content > div.subheader-image {
            max-height: 70vw;
        }
            div#content > div.subheader-image > span {
                display: none;
            }

    code {
        font-size: 1em;
    }

    div.card-container > a.card {
        width: 100%;
    }

    span.wbr {
        display: inline;
    }

    span.except-wbr {
        display: none;
    }

    img.two-contents, video.two-contents {
        max-width: 100%;
    }
}