@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

div.display-if-use-mirror, div.display-if-failed {
    display: none;
}

div.release-note {
    padding: 16px;
    height: 400px;
    overflow-y: auto;
    background-color: var(--background-color);
    border: 1px solid var(--separator-color);
}

    div.release-note h4 {
        margin: 48px 0 16px 0;
        font-size: 1.5em;
        line-height: 1.2;
    }

    div.release-note h5 {
        margin: 32px 0 16px 0;
        font-size: 1.25em;
        line-height: 1.2;
    }

    div.release-note h6 {
        margin: 16px 0;
        font-size: 1em;
        line-height: 1.2;
    }

    div.release-note p {
        margin: 16px 0;
    }

p.button-and-text {
    display: flex;
    flex-wrap: wrap;
}

    p.button-and-text > a {
        margin-right: 16px;
    }

    p.button-and-text > span {
        margin-top: auto;
    }

dialog#thanks {
    margin: 64px;
    padding: 0;
    width: calc(100% - 64px * 2);
    height: calc(100% - 64px * 2);
    overflow-y: auto;
    border: none;
}

    dialog#thanks[open], dialog#thanks::backdrop {
        animation-name: fadeIn;
        animation-fill-mode: forwards;
        animation-duration: 500ms;
        animation-timing-function: ease-out;
    }

    dialog#thanks::backdrop {
        background-color: #00000040;
    }

    dialog#thanks > a.close {
        display: block;
        position: sticky;
        top: 0;
        margin: -48px 0 auto auto;
        width: 48px;
        height: 48px;
        font: 200 2em LineSeedJP, sans-serif;
        text-align: center;
        text-decoration: none;
        outline: none;
    }

    dialog#thanks > div {
        padding: 32px;
    }

        dialog#thanks > div.sub-header {
            font: 500 1em LineSeedJP, sans-serif;
        }

            dialog#thanks > div.sub-header > div:not(:last-child) {
                margin-bottom: 8px;
            }

            dialog#thanks > div.sub-header > .big {
                font-weight: 200;
                font-size: 1.5em;
                line-height: 1.2;
            }

        dialog#thanks > div > h1 {
            margin: 16px 0 0 0;
            padding: 0;
            border-bottom: none;
            text-align: center;
        }

        dialog#thanks > div > h2 {
            margin: 16px 0 32px 0;
        }

        dialog#thanks > div > h3 {
            margin: 40px 0 16px 0;
        }

@media screen and (max-width: 719px) {
    dialog#thanks {
        margin: 16px;
        width: calc(100% - 16px * 2);
        height: calc(100% - 16px * 2);
        border: none;
    }

        dialog#thanks > div {
            padding: 24px;
        }
}