header {
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 1px 0 #00000020;
}

    header > .header-okaoka {
        background-color: var(--background-color);
    }

        header > .header-okaoka > div {
            display: flex;
            margin: 0 auto;
            padding: 8px 16px;
            width: 1440px;
            justify-content: space-between;
            align-items: center;
        }

            header > .header-okaoka > div > a.logo-okaoka {
                display: block;
            }

                header > .header-okaoka > div > a.logo-okaoka > img {
                    display: block;
                    height: 28px;
                }

            header > .header-okaoka > div > a.link-home {
                display: block;
                line-height: 1;
            }

    header > .header-atsex {
        background-color: var(--accent-color);
        font: 500 1em LineSeedJP, sans-serif;
    }

        header > .header-atsex > div {
            display: flex;
            margin: 0 auto;
            padding: 0 16px;
            width: 1440px;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }

            header > .header-atsex > div > a {
                display: block;
            }

                header > .header-atsex > div > a > img {
                    display: block;
                    margin: 12px 0;
                    height: 32px;
                }

            header > .header-atsex > div > ul {
                display: flex;
                margin: 0;
                padding: 0;
            }

                header > .header-atsex > div > ul > li {
                    display: block;
                    transition: background-color ease 300ms;
                }

                    header > .header-atsex > div > ul > li:hover {
                        background-color: #00000040;
                    }

                    header > .header-atsex > div > ul > li > a {
                        display: block;
                        padding: 12px;
                        text-decoration: none;
                        color: var(--background-color);
                    }

@media screen and (max-width: 1439px) {
    header > .header-okaoka > div, header > .header-atsex > div {
        width: 100%;
    }
}

@media screen and (max-width: 899px) {
    header > .header-atsex > div > ul > li.hide-if-tiny {
        display: none;
    }
}

@media screen and (max-width: 499px) {
    header {
        top: -44px;
    }

        header > .header-okaoka > div > a.link-home {
            display: none;
        }

        header > .header-atsex > div > a > img {
            height: 30px;
        }

        header > .header-atsex > div > ul > li > a {
            padding: 8px;
        }
}